<!DOCTYPE html>
<html>
<head>
    <title>Explore</title>
</head>
<body>
    <h1>Explore</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == 'error' %}
                    <div style="color: red;">{{ message }}</div>
                {% elif category == 'info' %}
                    <div style="color: blue;">{{ message }}</div>
                {% else %}
                    {{ message }}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div>
        <a href="{{ url_for('my_profile') }}"><button>My Profile</button></a>
        
        <a href="{{ url_for('feed') }}"><button>My Feed</button></a>

        <a href="{{ url_for('logout') }}"><button>Logout</button></a>
    </div>
    <ul>
        {% for post in posts %}
        <h3><a href="{{ url_for('public_profile', username=post.user.username) }}">{{ post.user.username }}</a></h3>
        <p>{{ post.content }}</p>
        <em><p>{{ post.created_at }}</p></em>
        {% endfor %}
    </ul>
</body>
</html>